<!doctype html>

<html lang="pl">
<head>
  <meta charset="utf-8">

  <title>WineShop</title>
  <meta name="description" content="Sklep z winem">
  <meta name="author" content="Krystian Wolański">
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'polls/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap&subset=latin-ext" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0b0b03f380.js" crossorigin="anonymous"></script>
</head>


<body>
    <header>
       
            <a href="{% url 'polls:index'%}"><img class="logo" height=60 src="{% static 'polls/img/logo.png' %}"></a>
            <div class="right-items">
                <h3>Account</h3>
                <a href="{% url 'polls:order'%}"><img class="basket" height= 30 src="{% static 'polls/img/basket.png' %}"></a>
            </div>
       
    </header>

    <main class="container">
        <section class="filters-container">
            
            <div class="filters">
                <h3>Filters:</h3>
                <p style="font-size:14px; margin-left:0 !important;">No filters applied</p>
            </div>

            <div class="kraj">
                <h3>Kraj:</h3>
                <div class="circle"><img src="{% static 'polls/img/argentyna.png' %}"></div>
                <div class="circle"> <img src="{% static 'polls/img/australia.png' %}"></div>
                <div class="circle"> <img src="{% static 'polls/img/austria.png' %}"></div>
            </div>

            <div class="kolor">
                <h3>Kolor:</h3>
                <p>Białe</p>
                <p>Czerwone</p>
                <p>Różowe</p>
            </div>

            <div class="smak">
                <h3>Smak:</h3>
                <p>Wytrawne</p>
                <p>Półwytrawne</p>
                <p>Słodkie</p>
                <p>Półsłodkie</p>
            </div>
            
        </section>
        
        <div class="info_and_products">
            <div class="search-elements">
                <form>
                    <div class="input-container">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Search"></input>
                    </div>
                </form>
                <div class="dropdown">
                    <button class="dropbtn">Popularność</button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
            <section class="products-container">

                {% for product in product_list %}
                    <div class="card">
                        <img height=200 src="{{product.image.url}}">
                        <div class="opis">
                           <p><a href="{% url 'polls:detail' product.id %}">{{product.name}}</a></p> 
                            <p>{{product.price}} PLN</p>
                            {{product.country}}
                        </div>  
                    </div>
                {% endfor %}
                
                
            </section>
        </div>


    </main>
    

</body>
</html>