*{
    padding: 0;
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    width:100%;
    background-color: #F8F6EE;
}
header{
    background-color:#5A0F0F;
    height: 65px;
    position: sticky;
    width: 100%;
    top:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    
}
.logo{
    margin-left: 80px;
}

.right-items{
    color: white;
    margin-right: 80px;
    display: flex;
    align-items: center;
}

.basket{
   margin-left: 11px;
}
.container{
    padding-top:100px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    
}
.description{
    margin-left:100px;
}
.container p{
    margin-bottom: 20px;
}
.price{
    margin-bottom: 20px;
}
.dropbtn{
    padding: 10px 20px;
    border: none;
    background-color: #E3D290;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    color:white;
    font-size: 1.3em;
    font-weight: bolder;
}
.dropbtn:hover{
    cursor: pointer;
}